<section>
    <h1>Projects</h1>
    <div class="projects-container"> 
    <%projects.each do |project|%>
        <article>
            <a href="/projects/<%=project.id%>"><h2><%=project.title%></h2></a>
            <p>fundraising target £<%=project.goal%></p>
            <a href="/projects/<%=project.id%>/delete"><i class="fas fa-trash-alt"></i></a>
            <a href="/projects/<%=project.id%>/edit"><i class="fas fa-pencil-alt"></i></a>
        </article>
    <%end%>
    </div>
</section>